<div class = "container">
    <h1>My page</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <%= link_to 'About me', about_path, class: "btn btn-primary" %>

    <%= link_to 'Blog', posts_path, class: "btn btn-primary" %>
</div>